body {
    background-color: #e2e2e2;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    margin: 4% 4% 4% 4%;
}

#header{
    float: left;
    text-align: left;
}

button{
    background-color: #e2e2e2;
    float: right;
    width: 10%;
    margin: 1em 1em 1em 1em;
    font-size: 1.2em;
    border-radius: 1em;
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.4s;
}

a.button{
    text-decoration: none;
    text-align: center;
    display:inline-block;
    width: 8%;
    background-color: #e2e2e2;
    margin: 1em 1em 1em 1em;
    border-radius: 1em;
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.4s;
    color: rgb(0,0,0);
}


button:hover, a.button:hover {
    background-color: rgb(0, 0, 0); 
    border-color: rgb(0, 0, 0);
    color: white;
  }

#about-info{
    float: left;
    font-size: 1.2em;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

h3 {
    text-align: center;
}

#submit{
    text-align: center;
}

.hidden {
    display:none;
}

